:root{
    /* Variables de colores */
    --colorPrimario: #E23636;
    --colorFondo: #F4F4F4;
    --colorTarjeta: #ffff;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-family: sans-serif;
}

header{
    /* var(--colorPrimario) para utilizar la variable con color */
    background-color: var(--colorPrimario);
    height: 90px;
}

body{
    background-color: var(--colorFondo);
}


nav{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav a{
    /* Enlaces dentro del nav */
    color: white;
    margin: 25px;
    text-decoration: none;
    font-size: 24px;
}

main h1{
    /* Titulo Avengers dentro del main*/
    margin: 27px 0 0 0;
    text-align: center;
    font-family: Avengeance;
    font-size: 40px;
}

.tarjetaIntroduccion{
    /* Tamano de la tarjeta */
    width: 1000px; 
    height: 304px;
    background-color: var(--colorTarjeta);
    /* margin: top right bottom left*/
    margin: 27px auto 27px auto; 
    padding: 30px;
    
    h2{
        /* H2 dentro de la tarjeta */
        color: var(--colorPrimario);
        font-size: 32px;
        font-weight: lighter;
        border-bottom: 4px solid var(--colorPrimario);
        margin-bottom: 12px;
        line-height: 1.5;
    }

    p{
        /* Parrafo de la tarjeta */
        font-size: 12px;
        font-weight: lighter;
        line-height: 1.8;

    }

}
